{% extends 'base.html' %}
{% block content %}
<div class="input_box">
    <h3 class="text-center"> Press the button to Process the query </h3>
    <form action="" method="post" enctype="multipart/form-data">
        <label> Height 1 </label><input type="text" name="height1" placeholder="add Height from">
        <label> Height 2 </label><input type="text" name="height2" placeholder="add Height to">
        <label> Zip Code </label><input type="text" name="zip" placeholder="add Zip Code">
        <input type="submit" value="process" class="btn-info center-block">
    </form>
    <h2> Time to process : {{ timeinfo }} Seconds</h2>
</div>
<div>
{% if dataInfo %}
    {{ dataInfo|safe }}
{% endif %}
</div>
{% endblock %}